spring:
  application:
    name: OTO
  datasource:
    url: jdbc:mysql://localhost:3306/farmhouse_db
    username: root
    password: Ratnajashwanth@123
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true

  web:
    resources:
      add-mappings: false

  server:
    port: 8080

  logging:
    level:
      org.springframework.web: DEBUG
      com.farmhouse.booking: DEBUG